/* navbar */
nav .dropdown-menu{
    overflow-x: auto!important;
}

/* hero section */
@media screen and (max-width: 992px) {
  .hero-section .row {
    /* flex row reverse */
    flex-direction: column-reverse !important;
  }
  .hero-section .hero-button-container {
      max-width: 100%!important;
  }
  .hero-section__getstarted-btn {
    width: 100%;
  }
  .hero-section h2{
    font-size:2.1rem;
  }
  .hero-section p{
    font-size:1.3rem;
  }
}

/* body card */
@media screen and (min-width: 992px) {
  .card-body .row {
    flex-wrap: nowrap;
  }
}

/* recent links */
#recent-links {
  --bs-gutter-x:0
}

#recent-links .recent-links_box {
  border-bottom: 6px solid #e6e6e6;
}

#recent-links .recent-links_box:last-child {
  border-bottom: 0;
}

@media screen and (max-width: 992px) {
  #recent-links .recent-links_box {
    flex-direction: column;
  }
  .recent-links_box p{
    width: auto !important;
    margin-right: 40px !important;
  }
}